 #map { width: 100%; height: 400px; /* position:absolute; top:0; bottom:0; width:100%;*/ }
  #content {width:800px;}
  #sliderContainer {
    padding-left: 40px;
    padding-right: 20px;
    width: 760px;
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 12000;
  }
   
   #bottomcontainer {
     display: block;

      width: 100%;
    z-index: 20000;
    position: relative;
    border-top: 1px solid #333;
    padding-top: 3px;
    background: #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
  }

   #slider {top: 0px;
    padding-left:20px;
    height: 60px;
    z-index: 10000;}

  #speedChart{    top: 0px;
    width:800px;
    z-index: 10010;
    left: 0px;}

      #speedChart2{    top: 0px;
    width:800px;
    z-index: 10010;
    left: 0px;}

  #speedChart path { 
/*      stroke: steelblue;
*/      stroke-width: 0;
      fill: none;
  }

  #speedChart2 path { 
/*      stroke: steelblue;
*/      stroke-width: 0;
      fill: none;
  }

  #speedChart .axis path,
  #speedChart .axis line,
    #speedChart2 .axis path,
  #speedChart2 .axis line,
  #histogram .axis line,
  #histogram .axis path {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }

  #sliderContainer .column {
    position: relative;
    float: left;
}
#sliderRight {
    width: 20px;
    margin-right: -20px;
    background: #ccc;
}

#sliderLeft {
    width: 50px;
    right: 50px;
    margin-left: -100%;
    background: #ccc;
}

circle, rect{    
    fill-opacity: .7;
    /* color: blue; */
/*    fill-color: blue;
*/   /* stroke: steelblue;
    fill:steelblue;*/
  }

  /* slider override for d3 time series */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  sborder: 0px none #d3d3d3;
  sbackground: #333 url(http://kroodsma.com/GFW/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  /* background: url(../../img/slider-32x32V3.png) 50% 0% no-repeat; */
  font-weight: normal;
  color: #555555;
  background: url(http://storage.googleapis.com/gfw-crowd/img/slider-drought-v4-72px.svg) 50% 50% repeat-x;
  height:90px;
  margin-top:2px;
}

#mapTitle{
  font-size: 30px;
/*  padding:5px;
*/}